@import url(https://fonts.googleapis.com/css?family=Fredoka+One);

html {
    background-color: #E9423A;
    color: white;
    font-family: 'Fredoka One', cursive;
}

html body div.Main {
    text-align: center;

    padding: 0.5em;

    margin-left: auto;
    margin-right: auto;
    
    width: 70%;
}

html body div.Main header {
    font-size: 1.5em;
    padding: 0.5em;
}

html body div.Main footer {
    font-size: 0.7em;
    padding: 1.5em;
}

html body div.Main {
    font-size: 2em;
}

html body div.Main div input {
    background-color: #E9423A;
    border: none;
    color: white;

    font-family: 'Fredoka One', cursive;
    font-size: 1em;

    text-align: center;

    margin-left: auto;
    margin-right: auto;

    width: 70%;
}

html body div.Main div input:focus {
    outline: 0;
}
