<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=0.8,user-scalable=0" />

    <link type="text/css" rel="stylesheet" href="bower_components/normalize-css/normalize.css" />
    <link type="text/css" rel="stylesheet" href="css/main.css" />

    <script type="application/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="application/javascript" src="js/main.js"></script>
</head>
<body ng-app="app" ng-controller="MainCtrl">
    <div class="Main">
        <header><span>Bake the <span>f%%k</span> out!</span></header>

            <div>
                &nbsp;<input ng-model="k" type="number" placeholder="%%%" />
            </div>

            <div>
                <span>percent</span>
            </div>

            <div>
                <span>of</span>
            </div>

            <div>
                &nbsp;<input ng-model="n" type="number" placeholder="XXX" />
            </div>

            <div>
                <span>is</span>
            </div>

            <div>
                <span>{{isNaN(k) || isNaN(n) ? '???' : round(k/100*n)}}</span>
            </div>

        <footer>
            <div>Designed with <3, <em>less is more</em>.</div>
            <div>2016</div>
        </footer>
    </div>
</body>
</html>
<!-- vim: set et ts=4 sw=4: -->
